version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14 
    steps:
      - checkout 
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Test
          command: |
            echo "hello world"
